<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>咖啡買一送一</h3>
    <hr>
    <a href="/history">咖啡的歷史</a><br>
    <a href="/coffee1">咖啡的品種</a><br>
    <a href="/coffee2">咖啡訂購系統</a><br>
    <a href="/coffee3">咖啡訂購資訊</a><br>
    <a href="/coffee4">世界咖啡日</a><br>
    <a href="/coffee5">買一送一</a><br>
    <a href="/coffee6">所有產品資訊</a><br>
    <a href="/coffee7">所有類別資訊</a><br>
    <a href="/coffee8">所有產品資訊2</a><br>
   
    
  </body>
</html>
