<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <hr>
    <input type="text" placeholder="enter name" id="name"><br>
    <input type="number" placeholder="enter price"  id="price"> <br>
    <input type="number" placeholder="enter qty"  id="qty" ><br>

    <button onclick="onsale()">OK</button>
    <img src="{% static 'images/cup.png' %}" alt="">
    <div id="demo"></div>
    <script src="{% static 'js/myjs.js' %}"></script>
    <script src="{% static 'js/yourjs.js' %}"></script>
</body>
</html>